<!DOCTYPE html>
<html lang="ar">
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="shortcut icon" href="/front-module/images/logo.png">
    <link rel="stylesheet" href="/front-module/css/Vendors/font-awesome.min.css">
    
   
  </head>
  <body>
     <!--NavBar-->
  
     <!--EndNavBar-->
    <div>
    {{{body}}}
    </div>
    <script src="/bower_components/jquery/dist/jquery.slim.js">
    </script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
